@model Article

<tr data-edit-url="@Url.Action("Edit", new { id = Model.Id })">
    <td>@Model.PublishedDate.ToShortDateString() @Model.PublishedDate.ToShortTimeString()</td>
    <td>@Model.Author</td>
    <td>@Model.Title</td>
    <td>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>
